<!--developed by tantrojan-->
<!DOCTYPE html>
<html lang="en-US">
<title>Portfolio</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="google-signin-client_id" content="537478536112-tcmocfefb3u4gdnm6u3fvji0aq5d849p.apps.googleusercontent.com">
<link rel="stylesheet" href="css/style.css" type="text/css">
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<body onresize="myFunction()">

