<!--developed by tantrojan-->
<!DOCTYPE html>
<html lang="en-US">
<title>Portfolio</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/style.css" type="text/css">
<script type="text/javascript" src="js/script.js"></script>
<body onresize="myFunction()">