<% include partials/header.ejs %>
<% include partials/nav.ejs %>

<!-- Container (About Section) -->
<div class="container highlight" id="about">
    <h1 class="center_header">ABOUT ME</h1>
    <p class="para">Hi Friends, my name is Tanmoy Ghosh from Kolkata. I am pursuing my B.Tech in stream of computer science and engineering from NIT Durgapur. I have done my Schooling from Kendriya Vidyalaya. In 2016 i appeared for JEE MAINS and i was fortunate enough to clear it and get into a NIT with my choice of branch.I have a strong interest in Computer and i like to learn new technologies related to it.</p>
</div>
<!--
<div class="bgimg-2">
</div>
-->
<div class="container">
    <h1 class="center_header">SUGGESTION</h1>
    <div class="row">
        <div class="col-6" >
            <form action="/" method="POST" class="para shift_right">
                <h3 class="no_margin">NAME</h3>
                <input name="name" type="text" placeholder="Your Name"/>
                <h3 class="no_margin">Suggestion BOX</h3>
                <textarea name="suggestion" placeholder="Your suggestions to make this page better."></textarea>
                <button type=submit >Submit</button>
            </form>
        </div>
        <div class="col-6">
            <img id="sug_box" src="assets/sug.png" alt="suggestion image">
        </div>
    </div>
</div>

<% include partials/footer %>
