<% include partials/header.ejs %>
<% include partials/nav.ejs %>

<div class="container first_div">
	<h1 class="center_header">Suggestions</h1>
	<% for(var i=0;i < result.length ; i++) {%>
	<h2> <%= result[i].name %> </h2>
	<h3> <%= result[i].date %> </h3>
	<p> <%= result[i].body %> </p>
	<% } %>
</div>

<% include partials/footer.ejs %>
